################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TestResults/c062f49c-9608-4db5-a906-11b07af79d0b
